html{
    scroll-behavior: smooth;
}

.announcement{
    background-color: dodgerblue;
    color: white;
}

.campuslife{
    border: 1px solid grey;
    padding-left: 0px;
    padding-right: 0px;
    float: none;
}

.bg-primary{
    font-size: 20px;
    border-radius: 20px;
    width: 60%;
    height: 30px;
    
    
}